@import'./colors.scss';
@mixin fontOptions($size, $color: white) {
    font-size:$size;
    color : $color;
}
@mixin flexible($horizontal:center,$vertical:center) {
    display:flex;
    align-items: $vertical;
    justify-content: $horizontal;
}
html {
    
}

body {
    margin:0;
    padding:0;
}
.header {
    width:100%;
    height:87px;
    background-color:$header-color;
    display: flex;
    justify-content: space-around;
    &-content {
        width:1024px;
        height: 100%;
        color:$text-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left:54px;
        
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
        @media screen and (max-width:780px) {
            flex-direction: row-reverse;
            padding-right: 54px;
            
        }
        @media screen and (max-width: 360px) {
            padding:0 5px;
        }

        
        &-links {
            width: 463px;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width:780px) {
                display: none;
            }
            .header-item {
                text-transform: uppercase;
                font-size: 18px;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

        }
        &__chk {
            display: none;
        }
        &__chk:checked + .header-content__menu > .header-content__menu_line {
            background-color:transparent;

            &:after {
                transform:rotate(-45deg);
                top:0;
            }
            &:before { 
                transform:rotate(45deg);
                bottom:0;
            }
        }
        &__menu {
            width: 60px;
            height: 60px;
            border:2px solid white;
            border-radius:4px;
            position: relative;
            z-index: 2;
            @include flexible();
            cursor: pointer;
            display: none;


            @media screen and (max-width: 780px) {
                display: flex;
            }
            &_line {
                width: 50px;
                height: 3px;
                background-color:white ;
                position: relative;
                transition: .4s;
                

                &:after {
                    content: '';
                    width: 50px;
                    height: 3px;
                    position: absolute;
                    left:0;
                    top:15px;
                    background-color: white;
                    transition: .4s;
                }
                    &::before {
                    content: '';
                    width: 50px;
                    height: 3px;
                    position: absolute;
                    left:0;
                    background-color:white;
                    bottom:15px;
                    transition: .4s;
                    }
                
            }
        }
        .menu {
            position: fixed;
            left:100px;
            top:70px;
            background: $header-color;
            background: linear-gradient(281deg, rgba(76, 152, 164, 1)0%, $green 100%);
            z-index: 1;
            transition: .5s;
            opacity: 0;
            width:0;
            height: 0;
            border-radius:50%;
            text-transform: uppercase;
            @include flexible();
            &__content {
                width: 14rem;


                &-item {
                @include fontOptions(2rem,white );
                border:1px solid transparent;
                border-left:3px solid white;
                padding: .6rem;
                cursor:pointer;
                box-sizing: border-box;
                margin-bottom:2rem;
                white-space: nowrap;
                

                &:hover {
                    width: 10rem;
                    border:3px solid white;
                    border-left:3px solid white;
                    box-sizing: border-box;

                }

            }
            }
            
        }
        &__chk:checked ~ .menu {
            width: 100%;
            height: 100vh;
            border-radius:0;
            left:0;
            top:0;
            opacity: 1;
        }
    }

}
.banner {
    width:100%;
    height:475px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:$text-color;
    background-image:url('/image/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    position: relative;

    &-title {
        text-transform:uppercase;
        font-weight: bolder;
        font-size: 44px;
        text-align:center;
        margin-bottom:42px ;
    }
    &-button {
        font-size:30px;
        display:flex;
        align-content: center;
        justify-content: center;
        border:2px solid $text-color;
        border-radius: 5px;
        width: 240px;
        height:54px ;
        transition: .4s;
        &:hover {
        background-color: rgba(255, 255, 255, .2);
    }
    
    }
    .dots {
        width: 5rem;
        position: absolute;
        @include flexible(space-between);
        bottom: 2rem;
        left:calc(50% - 2.5rem);


        &__item {
            width:.5rem;
            height:.5rem;
            border-radius:50%;
            background-color:white;
            cursor: pointer;
            &_active {
                background: #69728c;
            }


        }
    }
}
.things {
    @include flexible();
    flex-direction:column;
    padding: 5.25rem 0 5rem 0;
    box-sizing: border-box;
    &__title {
        @include fontOptions(1.875rem,black);    
        margin-bottom:2.44rem;
        text-align: center;
    
    }
    &__text {
        @include fontOptions(.875rem, black);
        margin-bottom: 4.44rem;
        text-align: center;
    }
    &__icons {
        width:25.94rem;
        @include flexible(space-between);
        @media screen and (max-width: 425px) {
            width: 100%;
            @include flexible(space-around);
        }
    }

}
.about {
    width:100%;
    background-color:$green;
    @include flexible();
    flex-direction: column;
    padding: 5.87rem 0;
    @media screen and (max-width:920px) {
        width:100%;
    }
    &__text {
        @include fontOptions(1.13rem, );
        width: 56.25rem;
        @media screen and (max-width:920px) {
            width:100%;
            padding: 5px;
            box-sizing: border-box;
            text-align: justify;
        }
    }

}
.card {
    width: 17.87rem;
    @include flexible(space-between, flex-start );
    margin-bottom:3.75rem;
    &__name {
        text-transform: uppercase;
        padding-top: .8rem;
        font-weight: bold;
        position: relative;
        @include fontOptions(1.63rem,white);
        &:after {
            content: "\201D";
            position: absolute;
            top: -1.2rem;
            left: -1rem;
            @include fontOptions(17rem, rgba(255,255,255,.2) );
            

        }

    }
}
.feedback {
    width:100%;
    height:32.4rem;
    background-image: url(/image/map.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    @include flexible();
    &__form {
        width: 26.9rem;
        height: 26.9rem;
        border-radius:50%;
        background: rgba(255,255,255,.8);
        @include flexible();
        flex-direction: column;
        padding-top:4rem;
        box-sizing:border-box;
        @media screen and (max-width:480px) {
            width: 90%;
            border-radius: 10px;
        }
        &-inp {
            width: 17.2rem;
            height: 1.93rem;
            padding-left:.6rem;
            border:1px solid #d8d8d8;
            margin-bottom:1rem;
            box-sizing:border-box;
            outline: none;
            
        }
        &-area {
            width: 17.2rem ;
            margin-bottom:1rem;
            resize: none;
            height: 5rem;
            padding:.6rem;
            box-sizing:border-box;
            outline: none;
            margin-bottom:2rem;

        }
        &-btn {
            width: 4.2rem;
            height: 4.2rem;
            border-radius:50%;
            outline:none;
            border:none;
            background-image: url(/image/btn.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color:transparent ;
            cursor: pointer;

        }
    }
}
.footer {
    @include flexible();
    width: 100%;
    height:2.5rem;
    background-color:$green;
    text-transform: uppercase;
    @include fontOptions(1rem )
}